h1.font1 {
    font-family: Arial, Helvetica, sans-serif;
}

/* Font style */

h1.font2 {
    font-style: italic;
}
h1.font3{
    font-style: oblique;
}
h1.font4 {
    font-weight: bolder;
}
h1.font5 {
    font-size: 50px;
}